<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/personalizar-um"></ion-back-button>
    </ion-buttons>
    <ion-title>Cartão de Oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Checkbox para mostrar/esconder o cartão -->
  <ion-item lines="full">
    <ion-label>Deseja adicionar um cartão de oferta?</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="mostrarCartaoOferta"></ion-checkbox>
  </ion-item>

  <!-- Formulário apenas visível se checkbox estiver ativa -->
  <form *ngIf="mostrarCartaoOferta" [formGroup]="messageForm" (ngSubmit)="submitForm()" class="cartao-form">

    <ion-item>
      <ion-label position="floating">De:</ion-label>
      <ion-input type="text" formControlName="de" class="DadosForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Para:</ion-label>
      <ion-input type="text" formControlName="para" class="DadosForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensagem:</ion-label>
      <ion-textarea formControlName="mensagem" autoGrow="true" class="DadosForm"></ion-textarea>
    </ion-item>

  </form>

  <div class="footer-container">
    <ion-button fill="clear" expand="block" class="BtnSeguinte" (click)="goToNovaEncomendaTresPage()">Seguinte</ion-button>
  </div>

</ion-content>

