<ion-header>
  <ion-toolbar color="light">
    <ion-title class="app-title">Personalizar Ramo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="personalizar-ramo-content">
  <ion-searchbar placeholder="Pesquisar flores" (ionInput)="searchFlowers($event)" class="custom-searchbar"></ion-searchbar>

  <div class="categoria-container">
    <div class="scroll-horizontal">
      <div class="flower-card" *ngFor="let image of filteredImages.slice(0, 3)">
        <img [src]="image.image" [alt]="image.title" class="flower-image" />
        <h3>{{ image.title }}</h3>
        <p class="flower-description">{{ image.description }}</p>
        <p class="flower-price">Preço: {{ image.price }}€</p>
        <div class="quantity-control">
          <button (click)="decreaseQuantity(image)" class="BtnMenos">
            <ion-icon name="remove"></ion-icon>
          </button>
          <span>{{ image.quantity }}</span>
          <button (click)="increaseQuantity(image)" class="BtnMais">
            <ion-icon name="add"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <p class="total-text">Total: {{ totalSum | currency: '€' }}</p>
    <ion-button fill="clear" expand="block" class="BtnSeguinte" (click)="goToPersonalizarUmPage()">Seguinte</ion-button>
  </div>
</ion-content>
