
/*ion-content {
  --background: #f5eee6;
}

.form-container {
  padding: 2rem;
}

.DadosForm {
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
}

ion-item {
  --background: white;
  --border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(155, 107, 157, 0.1);

  ion-label {
    color: #9b6b9d;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }

  ion-input {
    --padding-start: 1rem;
    --padding-end: 1rem;
    --placeholder-color: #b185b3;
    font-family: 'Montserrat', sans-serif;
  }
}

.btnSeguinte {
  margin-top: 2rem;
  --background: linear-gradient(
    90deg,
    rgba(155, 107, 157, 1) 0%,
    rgba(177, 133, 179, 1) 100%
  );
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  --border-radius: 10px;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

ion-title {
  color: #9b6b9d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}*/


.DadosForm {
  margin-top: 2%;
}

.BtnSeguinte {
  margin-top: 2rem;
  height: 48px;
  font-size: 1.1rem;
  --border-radius: 24px;
  text-transform: uppercase;
  font-weight: 600;
  --background: linear-gradient(
    90deg,
    rgba(250, 87, 142, 1) 0%,
    rgba(254, 171, 142, 1) 100%
  );
  color: white;
}

