<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/top-vendas-um"></ion-back-button>
    </ion-buttons>
    <ion-title>Passo 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Top vendas dois</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="messageForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">De:</ion-label>
      <ion-input type="text" formControlName="de" class="DadosForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Para:</ion-label>
      <ion-input type="text" formControlName="para" class="DadosForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensagem:</ion-label>
      <ion-textarea formControlName="mensagem" autoGrow="true" class="DadosForm"></ion-textarea>
    </ion-item>

    <div class="footer-container">
      <ion-button fill="clear" expand="block" class="BtnSeguinte" (click)="goToTopVendasTresPage()">Seguinte</ion-button>
    </div>
  </form>
</ion-content>
