<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/top-vendas-dois"></ion-back-button>
    </ion-buttons>
    <ion-title>Método de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pagamento-background">

  <p class="subtitulo">Valor total: <span class="total">{{ precoTotal | currency:'EUR' }}</span></p>
  <p *ngIf="usarPontos && descontoPontos > 0" class="subtotal-text">Está a utilizar {{ descontoPontos }} pontos</p>

  <ion-list>
    <ion-item 
      class="metodo-opcao" 
      button 
      detail="false"
      [class.selected]="metodoselecionado === 'mbway'"
      (click)="selecionarMetodo('mbway')">
      <ion-label>MB WAY</ion-label>
      <ion-icon name="checkmark-circle" slot="end" *ngIf="metodoselecionado === 'mbway'"></ion-icon>
    </ion-item>

    <div *ngIf="metodoselecionado === 'mbway'" class="mbway-numero">
      <ion-item>
        <ion-label position="floating">Número de telemóvel</ion-label>
        <ion-input type="tel" [(ngModel)]="mbwayNumero" placeholder="Insira o número MB WAY"></ion-input>
      </ion-item>
    </div>

    <ion-item 
      class="metodo-opcao" 
      button 
      detail="false"
      [class.selected]="metodoselecionado === 'multibanco'"
      (click)="selecionarMetodo('multibanco')">
      <ion-label>Multibanco</ion-label>
      <ion-icon name="checkmark-circle" slot="end" *ngIf="metodoselecionado === 'multibanco'"></ion-icon>
    </ion-item>

    <ion-item 
      class="metodo-opcao" 
      button 
      detail="false"
      [class.selected]="metodoselecionado === 'cartao'"
      (click)="selecionarMetodo('cartao')">
      <ion-label>Cartão de Crédito/Débito</ion-label>
      <ion-icon name="checkmark-circle" slot="end" *ngIf="metodoselecionado === 'cartao'"></ion-icon>
    </ion-item>
    <div *ngIf="metodoselecionado === 'cartao'" class="cartao-dados">
      <ion-item>
      <ion-label position="floating">Número do Cartão</ion-label>
      <ion-input type="text" maxlength="19" [(ngModel)]="cartaoNumero" placeholder="Insira o número do cartão"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Validade</ion-label>
      <ion-input type="text" maxlength="5" [(ngModel)]="cartaoValidade" placeholder="MM/AA"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">CVV</ion-label>
      <ion-input type="password" maxlength="4" [(ngModel)]="cartaoCVV" placeholder="CVV"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Nome no Cartão</ion-label>
      <ion-input type="text" [(ngModel)]="cartaoNome" placeholder="Nome impresso no cartão"></ion-input>
      </ion-item>
    </div>
  </ion-list>

  <ion-item>
    <ion-label>Deseja fatura?</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="desejaFatura"></ion-checkbox>
  </ion-item>

  <div *ngIf="desejaFatura" class="dados-fatura">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="dadosFatura.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">NIF</ion-label>
      <ion-input [(ngModel)]="dadosFatura.nif" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Localidade</ion-label>
      <ion-input [(ngModel)]="dadosFatura.localidade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="dadosFatura.email" type="email"></ion-input>
    </ion-item>
  </div>

  <ion-item>
    <ion-label>Deseja usar pontos?</ion-label>
    <ion-checkbox [(ngModel)]="usarPontos" (ionChange)="aplicarDescontoPontos()"></ion-checkbox>
  </ion-item>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="cancelar-btn" (click)="goToCancelarPage()">
          <ion-icon name="close-circle" slot="start"></ion-icon>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="confirmar-btn" (click)="confirmarPagamento()">
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
</ion-content>

