* {
  margin: 0;
  padding: 0;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px; 
}

.app-title {
  color: #6b2c6b;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15%;
  text-align: center;
}

ion-content {
  --background: var(--cor-fundo-principal);
}

.welcome-text {
  text-align: center;
  margin-bottom: 8px; 

  h2 {
    font-size: 26px;
    font-weight: 650;
    font-family: 'Lucida Sans';
    color: #6b2c6b;
    margin-bottom: 10px;
    margin-top: 15%;
  }

  h3 {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    color: #8c3f7a;
    font-weight: normal;
  }
}

.login-form,
.register-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 0; /* Subi o formulário */
}

.custom-input {
  margin-bottom: 1rem;
  border-radius: 8px;
  --highlight-color: #6b2c6b;
  --color: #666666;

  ion-label {
    color: #6b2c6b;
  }
}

.login-button,
.register-button {
  margin-top: 2rem;
  height: 48px;
  font-size: 1.1rem;
  font-family: 'Montserrat';
  --border-radius: 24px;
  text-transform: uppercase;
  font-weight: 600;
  --background: linear-gradient(
    90deg,
    rgba(250, 87, 142, 1) 0%,
    rgba(254, 171, 142, 1) 100%
  );
  color: white;
}

.register-link,
.linkregistar,
.linklogin,
.login-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #6b2c6b;
  text-decoration: none;

  a {
    color: #6b2c6b;
    text-decoration: none;
    font-size: 1rem;

    u {
      font-weight: 600;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.data-nascimento-label {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 4px;
  display: block;
  color: #6b2c6b; 
  font-family: 'Montserrat'; 
}

.data-nascimento-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 16px;

}

.data-nascimento-row ion-select {
  flex: 1;
  --placeholder-color: #464646; /* placeholder cinzento claro */
  --color: #666666; /* cor do valor selecionado */
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 44px;
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #000000;
}

.app-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;     
  object-fit: cover;       
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); 
  display: block;
  margin: 0 auto 15px auto; 
}