<!--<ion-header>
  <ion-toolbar color="light">
    <ion-title class="app-title">Os Nossos Ramos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="nova-encomenda-content">
  <ion-searchbar placeholder="Pesquisar flores" (ionInput)="searchFlowers($event)" class="custom-searchbar" (ionInput)="searchFlowers($event)"></ion-searchbar>

  <ion-grid>
    <ion-row class="flower-row" *ngFor="let image of filteredImages">
      <ion-col size="12" size-md="6" size-lg="4">
        <div *ngIf="image.id === 4 || image.id === 5 || image.id === 6" class="flower-card">
          <img [src]="image.image" [alt]="image.title" class="flower-image" />
          <h3>{{ image.title }}</h3>
          <p class="flower-description">{{ image.description }}</p>
          <p class="flower-price">Preço: {{ image.price }}€</p>
          <div class="quantity-control">
            <button (click)="decreaseQuantity(image)" class="BtnMenos">
              <ion-icon name="remove"></ion-icon>
            </button>
            <span>{{ image.quantity }}</span>
            <button (click)="increaseQuantity(image)" class="BtnMais">
              <ion-icon name="add"></ion-icon>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="footer-container">
    <p class="total-text">Total: {{ totalSum | currency: '€' }}</p>
    <ion-button fill="clear" expand="block" class="BtnSeguinte" (click)="goToNovaEncomendaUmPage()">Seguinte</ion-button>
  </div>
</ion-content>-->

<ion-header>
  <ion-toolbar color="light">
    <ion-title class="app-title">Os Nossos Ramos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="nova-encomenda-content">
  <ion-searchbar placeholder="Pesquisar flores" (ionInput)="searchFlowers($event)" class="custom-searchbar"></ion-searchbar>

  <div *ngFor="let categoria of categorias" class="categoria-container">
    <h2 class="categoria-titulo">{{ categoria.nome }}</h2>

    <div class="scroll-horizontal">
      <div class="flower-card" *ngFor="let image of categoria.ramos">
        <img [src]="image.image" [alt]="image.title" class="flower-image" />
        <h3>{{ image.title }}</h3>
        <p class="flower-description">{{ image.description }}</p>
        <p class="flower-price">Preço: {{ image.price }}€</p>
        <div class="quantity-control">
          <button (click)="decreaseQuantity(image)" class="BtnMenos">
            <ion-icon name="remove"></ion-icon>
          </button>
          <span>{{ image.quantity }}</span>
          <button (click)="increaseQuantity(image)" class="BtnMais">
            <ion-icon name="add"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <p class="total-text">Total: {{ totalSum | currency: '€' }}</p>
    <ion-button fill="clear" expand="block" class="BtnSeguinte" (click)="goToNovaEncomendaUmPage()">Seguinte</ion-button>
  </div>
</ion-content>


