<ion-content [fullscreen]="true" class="thank-you-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Obrigado</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="thank-you-container">
    <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
    <h2>Obrigado por utilizar os nossos serviços!</h2>
    <p class="subtitle">A sua encomenda foi registada com sucesso.</p>

    <ion-button class="return-button" (click)="redirectToInicio()" expand="block">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      Voltar ao Inicio
    </ion-button>
  </div>
</ion-content>


