
h2 {
    margin-top: 10%;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 700;
    margin-left: 5%;
    color: rgb(12, 52, 113)
  }


  .BtnSeguinteCinco {
    margin-left: 30%;
    background-color: rgba(255, 241, 93, 0.927);
    width: 100px;
    height: 45px;
    border-radius: 10%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(1, 0, 0);
  }
  