<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/nova-encomenda-dois"></ion-back-button>
    </ion-buttons>
    <ion-title>Método de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="pagamento-background">
  <ion-grid>
    <ion-row>
      <ion-col class="centered-text">
        <h3 class="subtitulo">Selecione o seu método de pagamento</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-radio-group [(ngModel)]="metodoselecionado">
          <ion-item lines="none" class="metodo-opcao">
            <ion-label>MBWay</ion-label>
            <ion-radio slot="end" value="mbway"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="metodo-opcao">
            <ion-label>No Ato da Entrega</ion-label>
            <ion-radio slot="end" value="delivery"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centered-text">
        <h3 class="total">Total: {{ precoValue | currency:'EUR':'symbol':'1.2-2' }}</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="cancelar-btn" (click)="goToCancelarPage()">
          <ion-icon name="close-circle" slot="start"></ion-icon>
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="confirmar-btn" (click)="confirmarPagamento()">
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          Confirmar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

