<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="Dark">Mais Vendidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let flower of flowers">
        <div class="flower-card">
          <img [src]="flower.image" [alt]="flower.title" />
          <h3>{{ flower.title }}</h3>
          <p>{{ flower.description }}</p>
          <p>Preço: {{ flower.price }}</p>

          <div class="quantity-controls">
            <button ion-button icon-only (click)="decrementQuantity(flower)" expand="block" class="BtnMenos">
              <ion-icon name="remove"></ion-icon>
            </button>
            <span>{{ flower.quantity }}</span>
            <button ion-button icon-only (click)="incrementQuantity(flower)" expand="block" class="BtnMais">
              <ion-icon name="add"></ion-icon>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goToTopVendasUmPage()" expand="block" class="BtnSeguinte">Seguinte</ion-button>
    </ion-buttons>
    <ion-title>
      Total: {{ totalSum | currency: '€' }}
    </ion-title>
  </ion-toolbar>
</ion-footer>
