<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="mycolor">Home</ion-title>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="logout()">
          Logout
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h2 class="custom-heading">Bem-Vindo ao FlowerBouquets</h2>
  <p>Desfrute do seu Jardim Virtual.</p>
  
  <h3 class="custom-heading">Contacte-nos!</h3>
  <ul>
    <li>Email: <a href="mailto:FlowerBouquets@gmail.com">FlowerBouquets@gmail.com</a></li>
    <li>Phone: Nº 915 123 090</li>
  </ul>
</ion-content>







